


.content{
	width:100%;
	height: 40%;
}

.edit-link
{
    z-index:100;
    position:absolute;    
    font-size:10px;
    left: 50px;
    top: 110px;
}

#recents > ul > li {
	padding: 50px;
}

#recents > ul > li > .row{
	margin-bottom: 1em;
	margin-left: 0px;
}

#following > ul > li {
	padding: 50px;
}

#following > ul > li > .row{
	margin-bottom: 1em;
	margin-left: 0px;
}

.link, .link:visited{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	background-color: none;
}


.link-tag{
	background-color: #ffffff;
	opacity: .5;
	font-weight: normal;
}

.partition{
	border-bottom: solid 1px rgba(0,0,0,0.3);
	margin-bottom: 10px;
	
}

.tag, .tag:hover, .tag:visited{
	color:#ffffff;	
	text-decoration: none;
	
}

.form-field{
	width: 100%;
	height:5%;
}

.question-title{
	color: #000000;
	font-weight: bolder;
}

.question-content{
	color:#000000;
	opacity: .7;
}

#profile_pic
{
    height:140px;
    width:140px;
    position:relative;
}

#photo
{    
    position:absolute;
    left:0;
    top:0;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#navBarSearchForm input[type=text]{width:430px !important;}

#questionsfortag > div > div.panel-body > div.row {
	margin-left: 0px;
}
